body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main__page {
    background: #031920 url('./assets/1.png') center top no-repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 72px;
    font-weight: 700;
    font-style: normal;
    line-height: 98px;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    margin-bottom: 50px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col-align-right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 100px;
}

.logo__img {
    width: 85px;
}

.menu {
}

.menu__item {
    display: inline-block;
    margin-right: 50px;
    font-size: 14px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts__phone {
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
}

.contacts__title-dropdown {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    width: 45%;
}

.main__title {
    font-size: 72px;
    font-weight: 700;
}

.main__subtitle {
    margin-top: 27px;
    font-size: 18px;
}

.main__button {
    margin-top: 33px;
    width: 168px;
    height: 55px;
    border: 0;
    border-radius: 35px;
    background: #F5170E;
    color: #FFF;
    font-weight: bold;
}

.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
}

.offers {
    margin-top: 245px;
}

.offer__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 21px;
}

.offers__title-img::after {
    content: url('./assets/flame.png');;
    width: 100px;
    padding-left: 12px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__item {
    min-height: 450px;
    width: calc(100% / 3 - 18px);
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #303030;
}

.offer__header {
    border-radius: 5px 5px 0 0;
}

.offer__content {
    margin: 30px 22px;
}

.option {
    font-style: normal;
    font-size: 16px;
    color: #666666;
}

.option1::before {
    content: url("./assets/calendar.jpg");
    padding: 0 10px 0 0;
    vertical-align: -30%;
}

.option2::before {
    content: url("./assets/meal.jpg");
    padding: 0 10px 0 28px;
    vertical-align: -20%;
}

.offer__description {
    font-size: 14px;
    line-height: 21px;
    margin: 24px 0;
}

.offer__button {
    width: 135px;
    height: 55px;
    border: 1px solid #F5170E;
    border-radius: 35px;
    background: #FFFFFF;
    color: #F5170E;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
}

.news {
    margin-top: 120px;
}

.news__list {
    display: flex;
    justify-content: space-between;
}

.news__item {
    flex: 1;
    position: relative;
    margin-right: 2%;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 150px;
    padding: 30px 47px;
}

.news__date {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.news__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 12px;
}

.news__description {
    font-size: 16px;
    line-height: 21px;
}

.pager {
    display: flex;
    justify-content: center;
    margin-top: 57px;
}
.pager__inner > * {
    color: #060606 !important;
}

.pager__list {
    display: flex;
}

.pager__display {
    margin-right: 25px;
}

.pager__item {
    margin-right: 24px;
    font-size: 16px;
    font-weight: bold;
}

.about {
    display: flex;
    margin: 150px 0;
    min-height: 550px;
}

.about::before {
    content: '';
    display: block;
    width: 490px;
    height: 505px;
    background: url("./assets/gates.png");
}


.about__desc {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 455px;
    max-width: 785px;
    background: url("./assets/mountains.png") center no-repeat;
    margin-left: -138px;
    margin-top: 112px;
    padding: 81px 70px;
}

.about__desc-title {
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

.about__desc-text {
    font-size: 16px;
    line-height: 27px;
    color: #060606;
    max-width: 502px;
}

.about__desc-button {
    background: #F5170E;
    width: 168px;
    height: 55px;
    border-radius: 35px;
    border: 1px solid #F5170E;
    color: #FFF;
    font-weight: bold;
}

.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 150px;
}

.footer__container {
    background: #001821;
}

.footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background: #FFFFFF;
    opacity: 0.1;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col-align-right {
    justify-content: flex-end;
}

.socials {
    margin-right: 75px;
}
.socials__list {
    display: flex;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

/* Services Page */

.headline {
    background: url("./assets/headline.png") center no-repeat;
}

.headline__header {
    margin-bottom: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.headline__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 412px;
}

.breadcrumbs {
    margin-bottom: 23px;
}

.breadcrumbs__list {
    display: flex;
    font-size: 14px;
    color: #9A9A9A;

}

.breadcrumbs__item {
    margin-right: 10px;
    text-decoration: underline;
}

.breadcrumbs__item:last-child {
    margin-right: 0;
}

.breadcrumbs__item::before {
    content: '/';
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.breadcrumbs__item:first-child::before {
    content: '';
    margin-right: 0;
}

/* Services */

.services {
    margin: 100px auto 0 auto;
}

.services a {
    color: #F5170E;
}

.services__list {

}

.services__item {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.service__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 55px;
}

.service__title {
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    color: #000;
}

.service__description {
    font-size: 16px;
    line-height: 27px;
    color: #303030;
}

.service__button {
    border: 1px solid #F5170E;
    border-radius: 35px;
    background: #FFFFFF;
    color: #060606;
    width: 168px;
    height: 55px;
    font-size: 14px;
    font-weight: bold;
}

/* Partners */

.partners {
    height: 540px;
    background: #F4F5F5;
    padding: 90px 0;
    margin-top: 100px;
}

.partners__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 65px;
    color: black;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 0 21%;
    justify-content: space-between;
}

.partners__item {
    margin: 60px 40px 0 0;
}

